.btn {
    width: 100%;
    padding: 15px 0 16px;

    color: #fff;
    border: 1px solid;

    &--color {
        &-blue {
            border-color: #33CAFF;
            background: #33CAFF;
        }

        &-transparent {
            border-color: #fff;
            background: transparent;
        }
    }

    &--width {
        &-small {
            max-width: 137px;
        }
        
        &-big {
            max-width: 238px;
        }
    }
    
    &--radius {
        &-0 {
            border-radius: 0;
        }

        &-10 {
            border-radius: 10px;
        }

        &-20 {
            border-radius: 20px;
        }

        &-30 {
            border-radius: 30px;
        }
        
        &-40 {
            border-radius: 40px;
        }

        &-50 {
            border-radius: 50px;
        }

        &-60 {
            border-radius: 60px;
        }

        &-70 {
            border-radius: 70px;
        }

        &-80 {
            border-radius: 80px;
        }

        &-90 {
            border-radius: 90px;
        }

        &-100 {
            border-radius: 100px;
        }
    }
}